DB_ROOT_PASSWORD=changeme
SSH_TEST_USER=labuser
SSH_TEST_PASSWORD=changeme_intentionally_weak
# net_srv = VLAN 10 = 10.10.10.0/24 (10.10.10.20 ya lo usa lab-srv-datos, CT 210 — no usar)
WEBAPP_IP=10.10.10.10
# net_usr = VLAN 30 = 10.10.30.0/24 (sin hosts reales todavía en esta VLAN)
SSH_CLIENT_IP=10.10.30.10
