DB_ROOT_PASSWORD=changeme
SSH_TEST_USER=labuser
SSH_TEST_PASSWORD=changeme_intentionally_weak
# net_srv = VLAN 10 = 10.10.10.0/24 (.5 = docker-host, .254 = router)
WEBAPP_IP=10.10.10.10
APP_DB_IP=10.10.10.11
# net_usr = VLAN 30 = 10.10.30.0/24
SSH_CLIENT_IP=10.10.30.10
